# Python
__pycache__/
*.pyc

# Virtual environments
venv/
env/

# Jupyter checkpoints
.ipynb_checkpoints/

# Dataset files
dataset/
dataset_detection/images/
dataset_detection/labels/

# YOLO training outputs
runs/

# Demo images
demo/

# OS files
.DS_Store
Thumbs.db

# Model weights
*.pt
*.keras